.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px; 
  border-bottom: 1px solid #e9ebeb;
}
.image{
  height: 50px; 
}
.wrapper{
  height: 390px;
  border: solid 1px;
  margin-top: 20px;
}
.wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}
.product-image {
  width: 100%;
}
.container{
  background-color: #F3F5F5;
} 
.article{
  display: flex;
  justify-content: space-around;
}
.picture{
  
}